/* 
    Created on : 09.11.2013, 03:25:27
    Author     : wf
*/

.toloo {
    position: relative;
    display: block;
    width: 200px;
    border: 1px solid #000000;
}

.toloo .tip {
    position: absolute;
    top: 0;
    display: none;
    width: 200px;
    background-color: #000000;
}

.toloo:hover .tip {
    display: block;
}

.toloo .tip.top {
    top: -100%;
}

.toloo .tip.bottom {
    top: 100%;
}

.toloo .tip.left {
    left: -100%;
}

.toloo .tip.right {
    left: 100%;
}